apiVersion: v1
kind: Secret
metadata:
  name: {{ include "seda-data-proxy.fullname" . }}-secrets
  labels:
    {{- include "seda-data-proxy.labels" . | nindent 4 }}
type: Opaque
data:
  DOTENVX_KEY: {{ .Values.secret.dotenvxKey | b64enc | quote }}
  DOTENV_CONFIG_PATH: {{ .Values.secret.dotenvConfigPath | b64enc | quote }}
