imagePullSecrets: []

image:
  repository: ghcr.io/sedaprotocol/seda-data-proxy
  tag: "v0.0.3"
  pullPolicy: IfNotPresent
  pullSecrets: {}
  os: linux
  arch: amd64

service:
  type: ClusterIP
  port: 5384

replicaCount: 1

# export DOTENVX_KEY=<KEY>
# export DOTENV_CONFIG_PATH=<PATH>
# helm install my-release ./chart-name --set secret.dotenvxKey=$DOTENVX_KEY --set secret.dotenvConfigPath=$DOTENV_CONFIG_PATH
secret:
  dotenvxKey: ""
  dotenvConfigPath: ""

# Encrypted .env file content
dotenvContent: |
  SEDA_DATA_PROXY_PRIVATE_KEY="encrypted:your-encrypted-key-here"

# WARNING: Comment next line for production. Only for development/testing.
sedaProxyFlags: "--disable-proof"

sedaProxyConfig:
  routes:
    - path: "/*"
      upstreamUrl: "https://swapi.dev/api/"
      methods:
        - GET
