image:
  repository: ghcr.io/sedaprotocol/seda-data-proxy
  tag: "v0.0.2"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 5384

replicaCount: 1

# export SEDA_PRIVATE_KEY=<KEY>
# helm install my-release ./chart-name --set secret.sedaDataProxyPrivateKey=$SEDA_PRIVATE_KEY
secret:
  sedaDataProxyPrivateKey: ""

# Uncomment for testing (itdisables request verification)
# sedaProxyFlags: "--disable-proof"
